<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>
愚者</string>
		<key>captionUpright</key>
		<string>【愚者:正位置】
 新たな旅立ち、純粋無垢
 持たない自由さを
 しばし味わってみては？
 
 恋愛:純粋に見る
 仕事:新たなスタート
 金運:やりたいのならやろう
 健康:本心に従って</string>
		<key>captionReversed</key>
		<string>【愚者:逆位置】
 不規則や不安定になりやすい時
 他の人の目を思い出して
 着実に進めて
 
 恋愛:YouNeed甲斐性
 仕事:着実に
 金運:確実に取りに行こう
 健康:規則正しく</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
魔術師</string>
		<key>captionUpright</key>
		<string>【魔術師:正位置】
 計画し、始める
 意志と信念で進んでいく
 障害は創造性の呼び水
 
 恋愛:願望を口に
 仕事:アイディアの実現
 金運:富を創り出す
 健康:独自の健康法</string>
		<key>captionReversed</key>
		<string>【魔術師:逆位置】
 自分の考えがあるのはいいけど
 受け取り手の事も考えないと
 独りよがりになってしまうよ
 
 恋愛:何をすべきか考えて
 仕事:ミスに注意
 金運:調子に乗りすぎないで
 健康:冷静に判断して</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
女教皇</string>
		<key>captionUpright</key>
		<string>【女教皇:正位置】
 内面を洞察する
 理性で仕組みを解き明かす
 安定と安らぎ
 
 恋愛:価値観を重視
 仕事:動きより観察
 金運:着実に
 健康:ほぐそう</string>
		<key>captionReversed</key>
		<string>【女教皇:逆位置】
 知識だけにとらわれないで
 本当にそうなのか
 なぜそうなのか、考えてみて
 
 恋愛:少しゆるめて
 仕事:本当にそう？
 金運:可も不可もなく
 健康:いたわって</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
女帝</string>
		<key>captionUpright</key>
		<string>【女帝:正位置】
 豊穣と実り
 物質的・精神的な満足感
 努力が実る時期
 
 恋愛:感覚を満たす
 仕事:確実な進捗
 金運:十分な報酬
 健康:安定した時期</string>
		<key>captionReversed</key>
		<string>【女帝:逆位置】
 情熱的なのは良いけれど
 その熱で自分も焦がしてない？
 ちょっとだけ冷静になろう
 
 恋愛:依存してない？
 仕事:冷静に
 金運:浪費か投資か見直して
 健康:整え鍛えよう</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
皇帝</string>
		<key>captionUpright</key>
		<string>【皇帝:正位置】
 秩序・父性
 組織化と管理
 現実的に整理する
 
 恋愛:社会的地位も魅力
 仕事:主導権を握ろう
 金運:所有と運用
 健康:活動的に</string>
		<key>captionReversed</key>
		<string>【皇帝:逆位置】
 あなたが今の力を奮えるのは
 周りの人の協力あってのこと
 尊敬を態度で示して
 
 恋愛:良い関係ってなに？
 仕事:北風より太陽
 金運:控え目に行きましょう
 健康:過信しないで</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
教皇</string>
		<key>captionUpright</key>
		<string>【教皇:正位置】
 組織の一員としての自分
 知識や助言が得られる時
 ルールとの付き合い方
 
 恋愛:相談してみては
 仕事:相談してみては
 金運:思わぬ助け
 健康:息抜きも大切</string>
		<key>captionReversed</key>
		<string>【教皇:逆位置】
 視野が狭くなりがち
 なにをすればいいかわからなくなったら
 相談するのも効果的
 
 恋愛:焦ってもいいことないよ
 仕事:周りをよく見て
 金運:使うことも考えて
 健康:自分だけで悩むな</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
恋人</string>
		<key>captionUpright</key>
		<string>【恋人:正位置】
 結びつく時
 引き寄せる力
 すでに得ているものには選択を
 
 恋愛:決断する時
 仕事:交渉を大事に
 金運:使いすぎ注意
 健康:楽しめることを</string>
		<key>captionReversed</key>
		<string>【恋人:逆位置】
 状況に流されないで
 自分の望むことをはっきりさせて
 見込み違いは修正しよう
 
 恋愛:本当はどうしたい？
 仕事:態度を決めよう
 金運:一晩考えて
 健康:着実に手入れを</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
戦車</string>
		<key>captionUpright</key>
		<string>【戦車:正位置】
 勝利・成功・強い意志
 成し遂げる力
 自己を制御し乗り越える
 
 恋愛:自信はあなたの中に
 仕事:遂行せよ
 金運:富を勝ち取る
 健康:汗を流そう</string>
		<key>captionReversed</key>
		<string>【戦車:逆位置】
 期待に対して進展が少ないと
 焦ってしまうものだけれど
 淡々と進めていってもきっとたどり着ける
 
 恋愛:消耗してない？
 仕事:空回ってない？
 金運:ムキにならないで
 健康:マイペースで</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
正義</string>
		<key>captionUpright</key>
		<string>【正義:正位置】
 理性的な判断
 公正と平等
 バランスを大切に
 
 恋愛:相性をみて
 仕事:協力し話し合う
 金運:可もなく不可もなく
 健康:普通のことを普通に</string>
		<key>captionReversed</key>
		<string>【正義:逆位置】
 一方的に頼るのも
 一方的に頼られるのも変
 公正のために戦おう
 
 恋愛:距離を置くのも手
 仕事:正しい取引を
 金運:見合ってる？
 健康:姿勢を正して</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
隠者</string>
		<key>captionUpright</key>
		<string>【隠者:正位置】
 自身の心の探究
 深い考察
 一歩引いて考えてみる
 
 恋愛:精神的な愛
 仕事:地道な努力
 金運:本当はどうしたい？
 健康:内面の美</string>
		<key>captionReversed</key>
		<string>【隠者:逆位置】
 こだわりも大事だけれど
 他者を閉め出してない？
 もう少し、信頼してみて
 
 恋愛:おおらかに
 仕事:考えは溜め込まないで
 金運:他者目線で見直して
 健康:柔らかく</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
運命の輪</string>
		<key>captionUpright</key>
		<string>【運命の輪:正位置】
 転機・転換期
 チャンスの到来
 この機を逃さないで
 
 恋愛:関係の変化
 仕事:状況の好転
 金運:思いがけない幸運
 健康:良いサイクル</string>
		<key>captionReversed</key>
		<string>【運命の輪:逆位置】
 不運や巡り会わせの悪さは
 誰にでも起こること
 嘆かず、冷静に対処を
 
 恋愛：ほっとくのも愛
 仕事：冬に備えて
 金運：損切り早めに
 健康：心配は早めに解消を</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
力</string>
		<key>captionUpright</key>
		<string>【力:正位置】
 精神的な力
 寛容・思いやり
 自らを奮い立たせる
 
 恋愛:深く受け入れる
 仕事:導く・説得する
 金運:信念を
 健康運:良薬は口ににがし</string>
		<key>captionReversed</key>
		<string>【力:逆位置】
 理想と現実に差があるからこそ
 達成する価値があるもの
 弱気は損気
 
 恋愛：グッとこらえて
 仕事：忍耐が必要かも
 金運：我慢が必要かも
 健康：できると信じて</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
吊られた男</string>
		<key>captionUpright</key>
		<string>【吊られた男:正位置】
 忍耐、自己犠牲、魂の成長
 状況を進めるために
 受け入れたり耐えたり
 
 恋愛:報われる思い
 仕事:試練の時
 金運:慎ましく
 健康:安静で回復</string>
		<key>captionReversed</key>
		<string>【吊られた男:逆位置】
 骨折り損、限界、宙ぶらりん
 今自分が耐えていることが
 何のためか、考え直して
 
 恋愛:報われない思い
 仕事:君がやる意味は？
 金運:見直しを
 健康:癒しが必要</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
死神</string>
		<key>captionUpright</key>
		<string>【死神:正位置】
 終わりと新たな始まりを意味する
 変化から逃げず
 新たな自分を始める機会かも
 
 恋愛:別れと出会い
 仕事:転職・転機
 金運:危機・清算
 健康:死と再生</string>
		<key>captionReversed</key>
		<string>【死神:逆位置】
 終わりと再生の時
 今までのことは忘れて
 一度ゼロから考えてみては
 
 恋愛:区切りをつけて
 仕事:計画を見直して
 金運:やり直してみて
 健康:死と再生</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
節制</string>
		<key>captionUpright</key>
		<string>【節制:正位置】
 物事のバランス
 中間点・中庸を行く
 心の平穏
 
 恋愛:安定した関係
 仕事:中庸を行こう
 金運:支出の見直しを
 健康:全体を見て</string>
		<key>captionReversed</key>
		<string>【節制:逆位置】
 停滞しがちなとき
 焦らず、流されず
 一つずつ整えて行って
 
 恋愛:停滞感
 仕事:調整して
 金運:バランス大事
 健康：苦労より喜び</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
悪魔</string>
		<key>captionUpright</key>
		<string>【悪魔:正位置】
 身動きの取れない状況
 見せかけや思い込みでなく
 自分と周囲をよく見て
 
 恋愛:依存してない？
 仕事:騙されてない？
 金運:溺れてない？
 健康:不健康じゃない？</string>
		<key>captionReversed</key>
		<string>【悪魔:逆位置】
 本当はよくないと思ってたこと
 今なら縁がきれるかも
 行動したり、距離を置いたり
 
 恋愛：関係を見直してみて
 仕事：不正なことはない？
 金運：断ち切って
 健康：明るい方へ</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
塔</string>
		<key>captionUpright</key>
		<string>【塔:正位置】
 予期せぬトラブル
 避けることのできない危機
 衝撃と解放

 恋愛:冷静に
 仕事:計画の失敗
 金運:慎重に
 健康:点検を</string>
		<key>captionReversed</key>
		<string>【塔:逆位置】
 永遠のものなんてない
 終わりが来たら始まりもある
 理想より現実的な一歩を
 
 恋愛：緊迫状態
 仕事：引き際を意識して
 金運：慎重に
 健康：不安はすぐに対処を</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
星</string>
		<key>captionUpright</key>
		<string>【星:正位置】
 状況の変化、将来への期待
 希望が実現する道
 勇気をもって進んでいこう
 
 恋愛:巡り会い・関係の進展
 仕事:才能の開花
 金運:富・名声
 健康:生命力・充実感</string>
		<key>captionReversed</key>
		<string>【星:逆位置】
 どんなに高い目標も
 一段ずつ実行していくもの
 方向を確かめて、また歩き出そう
 
 恋愛：幻滅・盲信
 仕事：具体的に
 金運：冷静に
 健康：決めつけないで</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
月</string>
		<key>captionUpright</key>
		<string>【月:正位置】
 不安と恐怖
 まずは落ち着いて
 目標と目的を再確認
 
 恋愛:不安はあって当然
 仕事:誤解に注意
 金運:ごまかしに注意
 健康:早めに休もう</string>
		<key>captionReversed</key>
		<string>【月:逆位置】
 迷いが晴れ、徐々に安定していく
 再び迷わないように
 書き留めたり、人に話したり
 
 恋愛：待つのも大事
 仕事：和解の可能性
 金運：必要なときを考えて
 健康：整えて</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
太陽</string>
		<key>captionUpright</key>
		<string>【太陽:正位置】
 開放感・幸せな時間
 真実が明るみに出る
 迷いは手放して
 
 恋愛:想いの成就
 仕事:注目される
 金運:良い
 健康:はげもう</string>
		<key>captionReversed</key>
		<string>【太陽:逆位置】
 不遇なときは誰にでもあるもの
 現実的な不安に行動で対処したら
 笑顔でおひさまを待ちましょう
 
 恋愛：その思いは長持ちしそう？
 仕事：感謝を大事に
 金運：切り替えて
 健康：継続大事に</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
審判</string>
		<key>captionUpright</key>
		<string>【審判:正位置】
 決断の時、区切りの時
 現実を直視して
 自分の責任で判断を
 
 恋愛:本心の見える時
 仕事:心機一転
 金運:良い知らせ
 健康:回復の時</string>
		<key>captionReversed</key>
		<string>【審判:逆位置】
 あきらめるのは悪いことじゃなく
 今できることに集中するために
 必要なこと。一歩ずつ前へ
 
 恋愛：過去にとらわれないで
 仕事：今できることをして
 金運：知ることを恐れないで
 健康：再発に注意</string>
	</dict>
	<dict>
		<key>name</key>
		<string>
世界</string>
		<key>captionUpright</key>
		<string>【世界:正位置】
 完成、完結
 望むものを手にできる
 手に入れたら分かちあおう
 
 恋愛:実り多き恋
 仕事:実を結ぶ
 金運:手に入る
 健康:ヨガやストレッチが吉</string>
		<key>captionReversed</key>
		<string>【世界:逆位置】
 形にとらわれないで
 今ある幸せに感謝しながらも
 次への一歩を淡々と狙って
 
 恋愛：不満は具体的に整理して
 仕事：本質からとらえ直して
 金運：冷静に
 健康：リフレッシュに努めて</string>
	</dict>
</array>
</plist>
